body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.title {
    color:  #9BB291 ;
    text-align: center;
    margin-bottom: 20px;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}
.form-group input, .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-group input[type="date"] {
    padding: 9px;
}
.form-group select {
    background-color: white;
}
.btn {
    display: inline-block;
    background-color:  #9BB291;
    color: white;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
.btn:hover {
    background-color:  #9BB291;
}
.footer {
    text-align: center;
    padding: 20px 0;
    background-color:  #9BB291;
    color: white;
    margin-top: 20px;
}
