:root{
    --primary-color:#9BB291;
    --primary-color-dark: #97E8B2;
    --secondary-color: #5AC6B2;
    --secondary-color-dark: #24DEBC;
    --gray-color: #E8E1EF;
    --gray-color-dark: #D0BBE6;

}