header{
    float: left;
    width: 100%;
    font-family: "NunitoSans-Bold.ttf", Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin: 20px 0;
}
header h1{
    color: var(--primary-color);
    font-size: 50px;
    margin: 0;
    text-shadow: 2px 2px 5px;
}