header{
    float: left;
    width: 100%;
    font-family: "NunitoSans-Bold.ttf", Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin: 20px 0;
}
header h1{
    color: var(--primary-color);
    font-size: 50px;
    margin: 0;
    text-shadow: 2px 2px 5px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

h1 {
    text-align: center;
    margin-top: 50px;
    text-transform: uppercase;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: var(--secondary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--secondary-color-dark);
}